.__g__b__button {
    
    /**
     * Background gradient compatible with all available browsers
    */
    background: -moz-linear-gradient(45deg, rgba(249,237,50,1) 0%, rgba(240,77,109,1) 76%, rgba(238,42,123,1) 93%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(249,237,50,1)), color-stop(76%, rgba(240,77,109,1)), color-stop(93%, rgba(238,42,123,1)));
    background: -webkit-linear-gradient(45deg, rgba(249,237,50,1) 0%, rgba(240,77,109,1) 76%, rgba(238,42,123,1) 93%);
    background: -o-linear-gradient(45deg, rgba(249,237,50,1) 0%, rgba(240,77,109,1) 76%, rgba(238,42,123,1) 93%);
    background: -ms-linear-gradient(45deg, rgba(249,237,50,1) 0%, rgba(240,77,109,1) 76%, rgba(238,42,123,1) 93%);
    background: linear-gradient(45deg, rgba(249,237,50,1) 0%, rgba(240,77,109,1) 76%, rgba(238,42,123,1) 93%);
    
    /**
     * Border properties
    */
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    border: none;

    /**
    * Padding
    */

    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 2%;
    padding-top: 2%;

    cursor: pointer;
    font-weight: bold;
}

.__g__b__button:hover {
    background: rgba(249,237,50,1);
}

.__obl {
    color: #ee2a7b;
    font-weight: bold;
}