/**
 * Making sure the hover color of the listitems on the main navbar is same as the larabloid main color.
 */

.navbar-nav .nav-item .nav-link:hover {
    color: #ee2a7b;
}

/**
 * disabled user-select for all elements on the page.
 */
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}